<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        @page {
            margin: 2cm;
        }

        body {
            font-family: Arial;
            font-size: 12pt;
            color: #000;
        }

        h1 {
            font-size: 16pt;
            margin-bottom: 10pt;
        }

        p {
            margin-bottom: 12pt;
            text-align: justify;
        }

        .page-break {
            page-break-before: always;
        }
    </style>
</head>
<body class="page-break">
    <h1>Applicability</h1>
    <p>
        This operations manual is not just a set of procedures, instructions, and guidance. It is a vital tool for {{ company_name }} personnel to ensure the safe execution of their duties and aviation operations. It is the backbone of our control and supervision of RPA flight operations. Every member of our team plays a crucial role in this, and it is imperative that all personnel strictly adhere to the relevant instructions and procedures contained in this manual.
    </p>

</body>
</html>
